<form [formGroup]="form">
  <div *ngFor="let question of this.questions; let i = index">
    <label [id]="question.id" > {{question.question}}</label>
        <mat-radio-group class="radio-group" aria-label="Select an option" [formControlName]="question.id">
          <mat-radio-button [value] = "{idQuestion: question.id, idAnswer:answer.id}|json" *ngFor="let answer of question.answers">{{answer.answer}} </mat-radio-button>
        </mat-radio-group>

  </div>
</form>

<button mat-stroked-button (click)="getQuestions(this.currentPage - 1)" [disabled]="this.currentPage == 0"> < </button>

<button mat-stroked-button *ngIf="maxPage != currentPage" (click)="getQuestions(this.currentPage + 1)"
          [disabled]="!form.valid"> > </button>

<button mat-stroked-button *ngIf="maxPage == currentPage"
          [disabled]="!form.valid" (click)="sendAnswers()"> SUBMIT </button>

<!--<div *ngIf="this._pagesArray[this.currentPage].responses.length != 0">-->
<!--  <div *ngFor="let r of this._pagesArray[this.currentPage].responses; let i = index">-->
<!--    Risposta {{r.id_question}}: {{r.id_answer}}-->
<!--  </div>-->
<!--</div>-->
<!--(click)="addResponse({id_question:question.id, id_answer:answer.id})-->

