
<div class="full-page">
  <mat-dialog-content class="mat-typography">

    <mat-card fxLayoutAlign="center center">

      <mat-error class="login-error">{{ this.error }}</mat-error>

      <form [formGroup]="form">
        <mat-card-content>
          <mat-form-field class="login-field">
            <input matInput type="text" placeholder="La tua mail" formControlName="mail" onInput="this.value = this.value.toLowerCase()">
            <mat-error *ngIf="hasError('mail', 'required')">Email obbligatoria</mat-error>
          </mat-form-field>
          <mat-form-field class="login-field">
            <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="La tua password" formControlName="pass"/>
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            <mat-error *ngIf="hasError('pass', 'required')">Password obbligatoria</mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-dialog-actions>
          <button mat-raised-button class="login-button" color="primary" (click)="login()" [disabled]="!form.valid">CONFERMA</button>
          <button mat-raised-button class="login-button" color="basic"   (click)="close()">CHIUDI</button>
        </mat-dialog-actions>

      </form>

    </mat-card>
  </mat-dialog-content>


<p>If you don't have an account <a routerLink="" (click)="openRegister()">click here</a></p>

</div>
