<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->

<div>
  <mat-toolbar color="primary">
    <img  width="70" alt="Ecit Logo" src="assets/logo_survey.png"/> <span>Welcome in ECIT Survey</span>
    <div class="spacer"></div>
    <button *ngIf="this.isLogged == false" mat-button (click)="openLogin('SIGN IN')">Login</button> <!-- skipLocation rimane sulla stessa page -->
    <button *ngIf="this.isLogged == false" mat-stroked-button (click)="openLogin('NEW ACCOUNT')">Sign up</button>

    <span *ngIf="this.isLogged == true"> {{ this.userLoggedIn.mail }}</span>

    <span *ngIf="this.isLogged == true">

    <button mat-button [matMenuTriggerFor]="menu"><mat-icon> account_circle </mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [disabled]="this.userLoggedIn.isAdmin" > <mat-icon> credit_card </mat-icon> UPGRADE</button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>EXIT ACCOUNT</span>
      </button>
    </mat-menu>
  </span>
  </mat-toolbar>
  <!--  <button routerLink="/login" routerLinkActive="active" [skipLocationChange]=true> LOGIN <\a> -->
</div>


<div role="main" >

<!--  <router-outlet name="test"></router-outlet>-->
  <router-outlet></router-outlet>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

