<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->

<div class="toolbar" role="banner">
  <img
    width="70"
    alt="Ecit Logo"
    src="assets/logo_survey.png"
  />
  <span>Welcome in ECIT Survey</span>
  <div class="spacer"></div>
  <button *ngIf="this.home.isHome == true" mat-button (click)="openLogin('SIGN IN')">LOGIN</button> <!-- skipLocation rimane sulla stessa page -->
  <button *ngIf="this.home.isHome == true" mat-button (click)="openLogin('NEW ACCOUNT')">REGISTER</button>
  <!--  <button routerLink="/login" routerLinkActive="active" [skipLocationChange]=true> LOGIN <\a> -->
</div>


<div class="content" role="main">

  <router-outlet></router-outlet>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

