div {
  width: 80%;
  margin:40px auto
}

table {

  width: 100%;
  margin:auto
}

th {
  text-align: center;
}

td.capFirst:first-letter {
  text-transform: capitalize;
}


.table-buttons {
  position: absolute;
  right:200px
}
.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}
