<h2 mat-dialog-title>{{data.title}}</h2>

<mat-dialog-content>
  <app-login *ngIf="data.component == 'login'"></app-login>
  <app-register *ngIf="data.component == 'register'"></app-register>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <span *ngFor="let button of data.buttons;">
      <button *ngIf="button.isEnter" mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="setPage(false)"> {{button.label}} </button>
      <button *ngIf="!button.isEnter" mat-button mat-dialog-close> {{button.label}} </button>
  </span>

<!--  <button mat-button mat-dialog-close>CANCEL</button>-->
<!--  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>ENTER</button>*/-->
</mat-dialog-actions>
