<h2 mat-dialog-title> Are you sure to enroll in the survey "{{data.surveyTitle}}" ?</h2>

<!--<mat-dialog-content>-->
<!--  <app-login *ngIf="data.component == 'login'"></app-login>-->
<!--  <app-register *ngIf="data.component == 'register'"></app-register>-->
<!--</mat-dialog-content>-->

<!--<mat-dialog-actions align="center">-->
  <span>
      <button mat-button [mat-dialog-close]="true" > ENROLL </button>
      <button mat-button cdkFocusInitial [mat-dialog-close]="false"> CANCEL </button> <!-- chiude il dialog e ritorna false -->
  </span>

<!--&lt;!&ndash;  <button mat-button mat-dialog-close>CANCEL</button>&ndash;&gt;-->
<!--&lt;!&ndash;  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>ENTER</button>*/&ndash;&gt;-->
<!--</mat-dialog-actions>-->
